// Theme Specific Styles

// Full page Layout
html {
  height: 100%;
}

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: initial;
}

#app {
  display: flex;
  flex-direction: column;

  .navbar {
    width: 100%;
    background-color: transparent;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .navbar-menu {
    background-color: #000;
    @media screen and (min-width: $desktop) {
      background-color: transparent;
    }
  }

  .navbar a {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 400;
  }

  .navbar a:hover {
    background-color: transparent;
  }

  .section-wrapper {
    clear: both;
  }

}

//Sticky Header
#top {
  width: 100%;
  position: relative;
  z-index: 3;
  background-color: #000;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 90px;
  padding: 0 1rem;

  //IE override
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */
    padding-top: 1.5rem;

    a img {
      border:none;
    }
  }

  @media screen and (min-width: $desktop) {
    min-height: 100px;
    position: fixed;
    align-items: center;
  }

  .navbar-brand {
    @media screen and (max-width: $desktop){
      padding: .3rem 0 0;
    }

    img {
      height: 40px;
    }

    a.navbar-item {
      @media screen and (max-width: $tablet){
        padding: .5rem 0;
      }
    }

    .navbar-burger {
      height: 2.25rem;
      width: 2.6rem;
      background-color: #000;
      margin: .9rem 0 1.5rem auto;

      span {
        background-color: #FFF;
        display: block;
        height: 2px;
        left: 50%;
        width: 15px;
      }
    }

    .navbar-burger::after {
      content: "menu";
      position: absolute;
      bottom: -21px;
      font-weight:400;
    }

  }

  #main-menu {
    align-items: flex-end;
  }
  .navbar-item {
    text-align: right;
    padding: .5rem 1.5rem;
    color:#FFF;
    font-weight: normal;

    a {
      display: block;
      color:#FFF;

      span {
        display: block;
        font-size: .8em;
        line-height: .9em;
      }
      span::after {
        content:"\A";
      }
    }
    a.navbar-link::after {
      right: -10px;
      content: "\025BE";
      border: none;
      -webkit-transform: none;
      transform: none;
      margin-top: 0;
      top: auto;
      font-size: 1.65em;
      line-height: 1em;
      bottom: 18px;
    }

    @media screen and (min-width: $desktop) {
      text-align: left;
      padding: 2.6rem 1rem .7rem;
      color:#000;

    }
    @media screen and (min-width: $fullhd) {
      padding: 2.6rem 1.5rem .7rem;
    }

    a {
      padding: 0.5rem 0;
      background-color: transparent;
    }
  }

  @media screen and (min-width: $desktop) {

    .navbar-start {
      margin-right: 0;
    }

    .top-slash::before {
      content: "";
      position: absolute;
      background-color: #e6e2b7;
      width: 150%;
      height: 105px;
      margin-left: 3rem;
      z-index: -1;
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
      bottom: 0;
    }

    .navbar-dropdown {
      background-color: #000;
      padding: 1rem 1.5rem;
      border-top: 5px solid #e6e2b7;
    }

  }
  .navbar-end {
    justify-content: flex-end;

    .navbar-item {
      text-align: right;
      color: #000;

      a {
        color: #000;
        font-weight: bold;

        span {
          font-weight:normal;
        }
      }
      a.navbar-link::after {
        content: "\025B8";
      }
    }
  }

}

.sticky-logo {
  width: 100%;
  position: absolute;
  text-align: right;

  @media screen and (min-width: $desktop) {
    padding-top:120px;
  }

  img {
    width: 220px;
    max-width:90%;
  }
}

.home {
  .sticky-logo {
    text-align: left;

    img {
      width: 440px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .top-pad {
    height: 0px;
    width:100%;
    padding-top:100px;
  }
}

//Slider
.slider {
  height: 220px;

  @media screen and (min-width: $tablet) {
    height: 420px;
  }

  @media screen and (min-width: $desktop) {
    height: 620px;
  }

  @media screen and (min-width: $fullhd) {
    height: 820px;
  }

  .slider-left,
  .slider-right {
    display: none;
  }

  .slides {
    width: 100%;
    height: 100%;

    .slide {
      background-size: cover;
      background-position: center top;
      opacity: 0;
      height: 100%;
      align-items: center;
      display: flex;

      @media screen and (min-width: $tablet) {
        background-attachment: fixed;
      }

      section {
        position: relative;
        text-align: left;
        .subtitle, .title {
          color:#FFF;
        }
      }

      .slide-content {
        padding: 1rem 0;
        width: 675px;
        max-width:100%;

        .slider-title {
          font-size: 1em;
          line-height: 1.2em;
          font-weight: 200;
          color:#333333;

          @media screen and (min-width: $tablet) {
            font-size: 3em;
          }
          @media screen and (min-width: $desktop) {
            font-size: 4em;
          }
        }

        .slider-subtitle {
          font-size: 1em;
          text-shadow: 0 0 10px rgba(0,0,0,.3);

          @media screen and (min-width: $tablet) {
            font-size: 1.5em;
          }
        }

        .slider-description {
          padding: 2.5rem .5rem;

          * {

            @media screen and (min-width: $tablet) {
              font-size: 1em;
            }
          }
        }
      }

    }
    .slide.active {
      opacity: 1;
    }
  }
}

//Helpers
.button {
  font-size: .9em !important;
  text-transform: uppercase;
  padding: 1.5rem 1rem;
}
.is-transparent {
  background-color: transparent;
}

.is-first-desktop {
  @media screen and (min-width: $desktop) {
    order: 1;
  }
}

.is-second-desktop {
  @media screen and (min-width: $desktop) {
    order: 2;
  }
}

.is-third-desktop {
  @media screen and (min-width: $desktop) {
    order: 3;
  }
}

.is-centered {
  .image {
    justify-self: center;
    text-align: center;
    display: inline-block;
    overflow: hidden;
  }
}

//MID
#mid {

}

.home-page-text {
  padding: 5rem 0;

  h1 {
    color: #7fa53f;
    margin-bottom:2rem;

    @media screen and (min-width: $tablet) {
      font-size:40px;
    }
    @media screen and (min-width: $desktop) {
      font-size:55px;
    }
    @media screen and (min-width: $fullhd) {
      font-size:66px;
    }
  }

  p {

    @media screen and (min-width: $tablet) {
      font-size:18px;
    }
    @media screen and (min-width: $desktop) {
      font-size:20px;
    }
    @media screen and (min-width: $fullhd) {
      font-size:26px;
    }
  }
}

//Physician Carousel
.doctor-carousel {
  padding: 0 0 4rem;

  .slick-slider {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;

    .bubble-icon {
      border: 1px solid #7fa53f;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      height: 50px;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      i.fa {
        font-size: 1.5em;
        color: #7fa53f;
      }

    }

    .bubble-icon:hover {
      border: 1px solid #fff;
      background-color: #7fa53f;
      i.fa {
        color: #FFF;
      }
    }

    .bubble-icon.left {
      padding-right: .35rem;
    }
    .bubble-icon.right {
      padding-left: .35rem;
    }

    .mini-physician-thumb {
      margin-bottom: 1rem;

      .image {
        width: 150px;
        height: 150px;
      }

      .physician-name {
        font-size: 20px;
        text-transform: uppercase;
        margin: 1rem 0;
      }

      .physician-specialties {
        font-size: 18px;
        line-height: 1.4em;
      }

      .physician-link {
        margin: 1rem 0;
        font-size: 12px;
        text-transform: uppercase;

        a {
          text-decoration: underline;
        }
      }

    }

  }
}

.specialties-area {
  padding: 0 0 10rem;
  background-color: #e3c676;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    background-image:url('/wp-content/themes/kma-slim/img/golfer.jpg');
  }

  .patient-center-actions {
    background-color: rgba(251,250,248,.7);
    text-align: center;

    .column {
      min-height: 150px;
      padding:0;
      text-align: center;

      a.portal-button {
        -webkit-transition: all linear 1s;
        -moz-transition: all linear 1s;
        -ms-transition: all linear 1s;
        -o-transition: all linear 1s;
        transition: all linear 1s;
        display: block;
        height:100%;
        padding: 1rem;

        .icon {
          display: flex;
          width:100%;
          text-align: center;
          align-items: center;
          justify-content: center;
          height: 80px;

          svg {
            height: 50px;
            fill: rgba(153,150,166,.6);
          }
        }

        .button-label {
          color: #7fa53f;
          font-size: 14px;
          padding:1rem 0;
        }

      }
      a.portal-button:hover {
        background-color: rgba(251,250,248,.5);

        .icon {

          svg {
            fill: rgba(153,150,166,.8);
          }
        }
      }
    }

    .column:last-child::after,
    .column::before {
      content: "";
      width: 1px;
      top: 0;
      display: block;
      height: 100%;
      position: absolute;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1cc+100 */
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #e1e1cc 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1cc 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #ffffff 0%,#e1e1cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1cc',GradientType=0 ); /* IE6-9 */
    }
    .column:last-child::after {
      right: -.75em;
    }
  }

  h2 {
    margin: 4rem 2rem;
    font-size:20px;

    @media screen and (min-width: $tablet) {
      font-size:30px;
    }
    @media screen and (min-width: $desktop) {
      font-size:40px;
      margin: 4rem 0;
    }
    @media screen and (min-width: $fullhd) {
      font-size:50px;
      margin: 4rem 9rem 4rem 0;
    }
  }

  h2.line-right {
    display: flex;
    align-items: center;
    font-size: 50px;

    strong {
      padding: 0 4rem 0 1rem;
    }

    span.line {
      width: 100%;
      border-bottom: 1px solid rgba(100,100,100,.5);
    }
  }

  .specialties-grid {
    padding: 0 2em;

    @media screen and (min-width: $desktop) {
      padding: 0;
    }

    @media screen and (min-width: $fullhd) {
      padding: 0 9rem;
    }

    .specialty-button {
      padding:.5rem;
      a {
        display: block;
        text-align: center;
        text-transform: none;
        font-size: 1.4em !important;
        line-height: 1em !important;
        height: 3em;
        border:none;
        background-color: rgba(255,255,255,.7);
      }
      a:hover {
        background-color: rgba(255,255,255,1);
      }
    }
  }


}

footer.stuck {
  position: absolute;
  width:100%;
  bottom:0;
}

//Footer (move for render blocking?)
#bot {
  position: relative;
  z-index: 1;
  background-color: #333333;
  padding: 45px 0 0;

  .locations {
    padding-bottom:15px;

    .location {
      h3, p {
        color: #FFF;
        margin: 0;
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        padding: 15px 0;
      }

      p {
        font-size: 14px;
        line-height: 1.6em;

        a {
          color: #cdde65;
        }
      }
    }
  }

  .watermark {
    align-items: flex-end;
    justify-content: flex-end;

    .footer-watermark {
      margin-bottom: -60px;
    }
  }
}
#bot-bot {
  position: relative;
  z-index: 1;
  background-color: #191a1b;
  padding: 30px 0;

  .the-end {
    display: flex;
    justify-content: flex-start;

    .social {
      svg {
        width: 40px;
        margin: .1rem .9rem;
      }
    }

    .copyright-section {

      .footer-nav {
        display: flex;

        .navbar-item {
          padding: 0 0 0 .25rem;
          color: #FFF;
          font-size: 14px;

          a.navbar-item, .navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
            background-color: transparent;
            color: #cdde65;
            padding: 0 .25rem 0 .5em;
          }

        }

        .navbar-item::before {
          content: "|"
        }
        .navbar-item:first-child::before {
          content: "";
        }

      }

      .signoff {
        padding: .25rem 0 .25rem .75rem;

        p {
          color:#FFF;
          font-size: 14px;

          a {
            text-decoration: underline;
            color:#FFF;
          }
        }
      }

    }

  }





}
